<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Playlist.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E1F196761EA9A65C000B1B87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1F1968D1EA9A65D000B1B87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1F196981EA9A65D000B1B87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
